body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

}

.bar {
  overflow: hidden;
  height: 300px;
  width: 100%;
  position: relative;
  top:0%;
  left:0%;
  
}

#bg {
  background-image: url(/pics/backgr.jpg);
/* background-attachment: fixed; */
  background-position: bottom; /*0px -220px*/
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px);
  width: auto;
}

 
 
.header {
  overflow: hidden;
  background-color: none;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 200px;
  width: 96%;
  margin: 35px;
}

.header a.big-nav {
 float: right;
 color: #fdf0c5;
 text-transform: uppercase;
 text-decoration: none;
 letter-spacing: 0.15em;
 display: inline-block;
 padding: 15px 20px;
 font-size: larger;
 font-family: 'Balsamiq Sans', cursive;
}
.header .icon {
  display: none;
}

.logo {
  position:absolute;
  top:0%;
  left:15%;
  width:1126px;
  height:326px;
}

.normallogo {
  position:absolute;
  
}

div.mini-nav{
  height: 80px;
  background-color: #333D51;
  text-align: center;
  margin: auto;
}

.mini-nav ul {
  display: inline-flex;
  font-family: 'Balsamiq Sans', cursive;
  list-style: none;
  color: #F7AB09;
  margin: 5px;
  font-size: large;
}

.mini-nav ul li{
 
  margin: auto;
  padding: 20px 50px;
}

.mini-nav-a{
color: #F7AB09;
font-family: 'Balsamiq Sans', cursive;
text-decoration: none;
font-size: x-large;
}

.second-mini-nav-a{
  color: #f8d68c;
  font-family: 'Cormorant Garamond', serif;
text-decoration: none;
font-size: x-large;
}
.sub-menu-1{
  display: none;
  
}
.sub-menu-1 ul li{
  float: left;
  
  
}
.mini-nav ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: #333D51;
  margin-top: 15px;
  margin-left: -15px;
}

.mini-nav ul li:hover .sub-menu-1 ul{
 display: block;
 margin: 10px;
}

/*div.mini-nav {
  height: 80px;
  background-color: #333D51 ;
  margin: auto;
}

div.centered-text{
  margin: auto;
  width: 50%;
  text-align: center;
  
}

a.mini-nav-a{
  color: #F7AB09;
  font-family: 'Balsamiq Sans', cursive;
 text-transform: uppercase;
 text-decoration: none;
 letter-spacing: 0.15em;
 display: inline-block;
 margin: 0;
 text-align: center;
 padding: 23px 20px;
 font-size:large;
}
*/
a.second-mini-nav-a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #f8d68c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.second-mini-nav-a:hover:after{
  width: 100%; 
  left: 0; 
}

a.mini-nav-a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #F7AB09;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.mini-nav-a:hover:after{
  width: 100%; 
  left: 0; 
}

.bluesec-text{
  color: white;
  
}


/*a.big-nav:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fdf0c5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
 }
 */
 /*a.big-nav:hover:after { 
  width: 100%; 
  left: 0; 
 }

 */ div.textbox{
  font-family: 'Bellota Text', cursive;
  font-size: x-large;
  
  width: 60%;
  text-align: justify;
  padding: 20px;
  
 }

 
 div.themebox{
  font-family: 'Bellota Text', cursive;
  position: relative;
  width: 60%;
  text-align: justify;
  padding: 20px;
  
 }

 


 
@media screen and (max-width: 600px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .header.responsive {position: relative;}
  .header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

.scrolltotop {
	position: fixed;
  display: none;
	bottom: 30px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 31px;
	background-color: #333D51;
	text-align: center;
	font-size: 16px;
	color: #F7AB09;
	text-decoration: none;
	z-index: 9999;
	opacity: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.scrolltotop:hover, .scrolltotop:focus {
	opacity: .7;
	color:#F7AB09;
}


